<html>
  <head>
    <title>@|head-title|</title>
    @|(include-template "comp_basic_head_tags.html")|
  </head>
  <body class="m p">
    <div class="w">
      @|(include-template "comp_nav.html")|
      <div class="bg p">
        <div class="p"></div>
        <div class="fh fc">
          <span class="oh">@|(bookmark-id bookmark)|. </span>
          <a class="" href="@|(bookmark-url bookmark)|"
            >@|(bookmark-title bookmark)|</a
          >
          <span class="oh s"> (@|(bookmark-host bookmark)|)</span>
        </div>
        <div class="fh fc">
          <span class="ohno">@|(bookmark-id bookmark)|. </span>
          <a
            class="oh s"
            title="@|(epoch->iso-8601 (bookmark-created_at bookmark))|"
            href="/bookmarks/@|(bookmark-id bookmark)|/edit"
            >@|(epoch->string (bookmark-created_at bookmark))|</a
          >
          <span class="oh"> | </span>
          <a class="oh s">delete</a>
          <span class="oh"> | </span>
          <a class="oh s r">delete!</a>
        </div>
        <div class="p"></div>
        <form method="post">
          <div class="p">
            <label for="url">url: </label>
            <input
              type="text"
              value="@|(bookmark-url bookmark)|"
              id="url"
              name="url-disabled"
              disabled
            />
          </div>
          <div class="p">
            <label for="title">title: </label>
            <input
              type="text"
              value="@|(bookmark-title bookmark)|"
              id="title"
              name="title-disabled"
              disabled
            />
          </div>
          <div class="p">
            <button type="submit" disabled>submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
