<html>
  <head>
    <title>@|head-title|</title>
    @|(include-template "comp_basic_head_tags.html")|
  </head>
  <body class="m p">
    <div class="w">
      @|(include-template "comp_nav.html")|
      <div class="bg p">
        <div class="p"></div>
        @|(include-template "./comp_bookmark_primary_row.html")|
        @|(let ([allow-refresh? #t]
                [allow-permanent-delete? #t])
            (include-template "./comp_bookmark_secondary_row.html"))|
        <div class="p"></div>
        <form method="post">
          <div class="p">
            <label for="url">url: </label>
            <input
              type="text"
              value="@|(bookmark-url bookmark)|"
              id="url"
              name="url-disabled"
              disabled
            />
          </div>
          <div class="p">
            <label for="title">title: </label>
            <input
              type="text"
              value="@|(bookmark-title bookmark)|"
              id="title"
              name="title-disabled"
              disabled
            />
          </div>
          <div class="p">
            <button type="submit" disabled>submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
