<html>
  <head>
    <title>@|head-title|</title>
    @|(include-template "comp_basic_head_tags.html")|
  </head>
  <body class="m p">
    <div class="w">
      @|(include-template "comp_nav.html")|
      <div class="bg p">
        <div class="p"></div>
        @in[b bookmarks]{
        <div class="fh fc">
          <span class="oh">@|(bookmark-id b)|. </span>
          <a class="" href="@|(bookmark-url b)|">@|(bookmark-title b)|</a>
          <span class="oh s"> (@|(bookmark-host b)|)</span>
        </div>
        <div class="fh fc">
          <span class="ohno">@|(bookmark-id b)|. </span>
          <a class="oh s">update</a>
          <span class="oh"> | </span>
          <a class="oh s">delete</a>
        </div>
        <div class="p"></div>
        }
        <!-- Empty state -->
        @when[(empty? bookmarks)]{
        <div class="oh">empty</div>
        }
      </div>
    </div>
  </body>
</html>
